body {
  background-color: black;
  background-image: url("./background.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.homeHeadline {
  font-family: 'Sansita Swashed', cursive;
  font-size: 9vh; 
  padding-top: 22vh;
}
.generalHeadline {
  font-family: 'Sansita Swashed', cursive;
  font-size: 9vh; 
  animation-name: headline;
  animation-duration: 1s;
}

@keyframes headline {
  0% {padding-top: 22vh;}
  100% {padding-top: 0vh;}
}
.start-btn {
  cursor: pointer;
  transition: 0.5s;
  font-size: 2.2vh;
  background-color: transparent;
  border:none;
  padding-top: 1.5vh;
}
.start-btn:hover, .leaderboard-btn:hover{
  text-decoration: none;
  color:darkcyan;
  transition: 0.5s;
  letter-spacing: 0.3vw;
}

.leaderboard-btn {
  font-size: 2.2vh;
  cursor: pointer;
  transition: 0.5s;
  background-color: transparent;
  border:none;
  margin-top: 20vh;
}

input{
  border: none;
  border-bottom: 2px solid purple;
  text-align: center;
  width: 30vw;
  background-color: transparent;
  font-size: 2.5vh;
  transition: 1s;

}

input:focus{
  outline: none;
}

input:hover{
  outline: none;
  box-shadow: 5px 5px 5px purple;
  transition: 1s;
}